# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
.ipynb_checkpoints/

# Data & artifacts
data/*.csv
models/*.joblib
models/*.png
models/metrics.json
mlruns/
*.db

# Node
node_modules/
dashboard/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
